<section class="edit-user">
    <h2 class="devise-heading">Edit
        <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
        <div class="avatar"> 
          <div class="field">
            <% if resource.avatar.attached? %>
              <%= image_tag(resource.avatar_thumbnail, class: "user-avatar") %> <!-- renders processed user avatar -->
            <% else %>
              <%= image_tag("default-profile.jpg", style: "width:150px;height:150px;border:2px solid black;border-radius:5px;") %>
            <% end %>
          </div>
          
          <div class="field">
            <%= f.label :avatar, "Browse", class: "file-browse" %>
            <%= f.file_field :avatar, accept: "image/png, image/jpg, image/jpeg" %>
          </div>
        </div>

        <div class="email field">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for:
                <%= resource.unconfirmed_email %>
            </div>
        <% end %>

        <div class="password field">
            <%= f.label :password, "New Password" %><br/>
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
                <br/>
                <em><%= @minimum_password_length %>
                    characters minimum</em>
            <% end %>
        </div>

        <div class="password-confirmation field">
            <%= f.label :password_confirmation, "Confirm Password" %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="current-password field">
            <%= f.label :current_password, "Current Password" %></i><br/>
            <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <%= f.fields_for :profile do |profile| %>
          <div class="first-name field">
            <%= profile.label :first_name %><br />
            <%= profile.text_field :first_name %>
          </div>

          <div class="last-name field">
            <%= profile.label :last_name %><br />
            <%= profile.text_field :last_name %>
          </div>

          <div class="state field">
            <%= profile.label :state %><br />
            <%= profile.text_field :state %>
          </div>

          <div class="suburb field">
            <%= profile.label :suburb %><br />
            <%= profile.text_field :suburb %>
          </div>

          <div class="postcode field">
            <%= profile.label :postcode %><br />
            <%= profile.text_field :postcode %>
          </div>
        <% end %>

        <div class="actions">
            <%= f.submit "Update" %>
        </div>
<% end %>

        <div class="edit-user__form__delete">
            <h3>Delete my Account 😢</h3>
            <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
            <%= link_to "Back", :back %>
        </div>
</section>
