<section class="trading-card__details">
    <div class="row row-cols-sm-1 row-cols-md-2 m-0 ">
        <!-- main card image -->
        <div class="col-sm d-flex align-items-center p-card">
            <%= image_tag @card.large_image, alt: @card.name, class: "large-card", style: "max-width: 100%;" %>
        </div>
        <!--  main text body -->
        <!-- row 1 -->
        <div class="col-sm top">
            <!-- if rarity true -->
            <% if @card.rarity %> 
                <h2 class="text-center pb-2 body-heading"><%= @card.supertype %> 
                <!-- append subtypes if it exists -->
                <% if @card.subtypes %> 
                    — <%= purge_s_brackets(@card.subtypes) %>
                <% end %> 
                </h2> 
                <div class="row row-cols-2 m-0 pb-3">
                    <div class="col-sm">
                        <div class="row m-0">
                            <h2 class="card-name"><%= @card.name %></h2>
                        </div>
                        <div class="row m-0">
                            <h3 class="sub-heading"><%= @card.rarity %></h2>
                        </div>
                    </div>
                    <% if @prices.average_sell_price %>
                        <div class="col-sm">
                            <div class="row m-0">
                                <h3 class="font-weight-bold">Average</h3>
                            </div>
                            <div class="row m-0">
                                <h3>$ <%= ("%.2f" % @prices.average_sell_price) %></h3>
                            </div>
                        </div>
                    <% else %>
                        <div class="col-sm">
                            <div class="row m-0">
                                <h3 class="font-weight-bold">Average (Weekly)</h3>
                            </div>
                            <div class="row m-0">
                                <h3>$ <%= ("%.2f" % @prices.avg7) %></h3>
                            </div>
                        </div>
                    <% end %>
                </div>  
            <% else %>
            <!-- if rarity false -->
                <h2 class="text-center pb-2 body-heading"><%= @card.supertype %> — <%= purge_s_brackets(@card.subtypes) %></h2> 
                <div class="row row-cols-2 m-0 pb-3">
                    <div class="col-sm">
                        <div class="row m-0">
                            <h2 class="card-name"><%= @card.name %></h2>
                        </div>
                    </div>
                    <% if @prices.average_sell_price %>
                        <div class="col-sm">
                            <div class="row m-0">
                                <h3 class="font-weight-bold">Average</h3>
                            </div>
                            <div class="row m-0">
                                <h3>$ <%= ("%.2f" % @prices.average_sell_price) %></h3>
                            </div>
                        </div>
                    <% else %>
                        <div class="col-sm">
                            <div class="row m-0">
                                <h3 class="font-weight-bold">Average (Weekly)</h3>
                            </div>
                            <div class="row m-0">
                                <h3>$ <%= ("%.2f" % @prices.avg7) %></h3>
                            </div>
                        </div>
                    <% end %>
                </div> 
            <% end %>
            <!-- row 2 -->
            <% if @card.types %>
            <div class="row row-cols-2 m-0 pb-2">
                <div class="col-sm">
                    <div class="row m-0">
                        <p class="sub-heading">Type</p>
                    </div>
                    <div class="row m-0"><p><%= purge_s_brackets(@card.types) %></p></div>
                </div>
            </div>
            <% end %>
            <!-- Evolves to/form block -->
            <!-- row 3 -->
            <% if @card.evolves_from || @card.evolves_to %>
                <div class="row row-cols-2 m-0 pb-2">
                    <!-- evolves from? -->
                    <% if @card.evolves_from %>
                        <div class="col-sm justify-content-center">
                            <div class="row m-0">
                                <p class="sub-heading">Evolves from</p>
                            </div>
                            <div class="row m-0">
                                <%= remove_sprite_junk(@card.evolves_from) %>
                            </div>
                            <div class="row m-0">
                                <%= image_tag url_sm_sprite_ef(remove_sprite_junk(@card.evolves_from)), title: remove_sprite_junk(@card.evolves_from) %>
                            </div>
                        </div>
                    <% end %>
                    <!-- evolves to? -->
                    <% if @card.evolves_to %>
                        <div class="col-sm">
                            <div class="row m-0">
                                <p class="sub-heading">Evolves to</p>
                            </div>
                            <div class="row m-0">
                                <%= remove_sprite_junk(purge_s_brackets(@card.evolves_to)) %>
                            </div>
                            <div class="row m-0 ">
                                <%= image_tag url_sm_sprite_et(remove_sprite_junk(@card.evolves_to)), title: remove_sprite_junk(purge_s_brackets(@card.evolves_to)) %>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
            <!-- additional info -->
            <!-- row 4 -->
            <% if @card.weaknesses || @card.resistances %>
            <div class="row row-cols-2 m-0 pb-2">
                <div class="col-sm">
                    <div class="row m-0">
                        <p class="sub-heading">Weakness</p>
                    </div>
                    <% if @card.weaknesses %>
                        <div class="row m-0">
                            <%= @card.weaknesses %>
                        </div>
                    <% else %>
                        <div class="row m-0">
                            N/A
                        </div>
                    <% end %>
                </div>
                <div class="col-sm">
                    <div class="row m-0 ">
                        <p class="sub-heading">Resistance</p>
                    </div>
                    <% if @card.resistances %>
                        <div class="row m-0 ">
                            <%= @card.resistances %>
                        </div>
                    <% else %>
                        <div class="row m-0 ">
                            None
                        </div>
                    <% end %>
                </div>
            </div>
            <% end %>
            <!-- rules section -->
            <!-- row 5 &/or 6 -->
            <% if @card.rules %>
            <div class="row m-0 pb-2">
                <div class="col-sm">
                    <div class="row m-0"><p class="sub-heading">Rules</p></div>
                    <div class="roww m-0"><%= @card.rules %></div>
                </div>
            </div> 
            <% end %>
            <!-- flavor text section -->
            <!-- row 5 &/or 6 -->
            <% if @card.flavor_text %>
            <div class="row m-0 pb-2">
                <div class="col-sm">
                    <p class="flavor-text"><i>"<%= @card.flavor_text %>"</i></p>
                </div>
            </div>
            <% end %>
            <div class="row text-center m-0 my-3 justify-content-center">
                <!-- checks if current user exists & if current user DOES NOT have a card favourite that matches the current card_id -->
                <% if current_user && !current_user.favourites.exists?(card_id: @card.id) %>
                    <div class="col d-flex justify-content-center ">
                    <!-- if user HAS NOT favourited the card -->
                    <%= button_to "♥",
                                  create_favourite_path,
                                  remote: true,
                                  method: :post,
                                  params: { card_id: @card.id },
                                  class: "fav btn btn-danger mb-3 text-center" %>
                    </div>
                <% else %> <!-- should display if no user and/or no card match between current card and favourited card_id -->
                    <div class="col d-flex justify-content-center ">
                        <!-- if the user has already favourited the card -->
                        <button class="fav btn btn-danger mb-3" disabled>♥</button>
                    </div>
                <% end %>
                <div class="col">
                    <%= button_to "Sell Now!",
                                  new_listing_path(@card.id),
                                  method: :get,
                                  class: "btn btn-info btn-lg p-1",
                                  style: "min-width:50%;width:80px;" %>
                </div>
            </div>
            <div class="row row-cols-2 m-0 justify-content-center">
                <div class="set-symbol row justify-content-center w-100">
                    <div class="d-flex align-items-center"><%= image_tag "#{@card.card_set.symbol}", alt: "set-symbol", height: "30px", class: "pr-2" %></div>
                    <p class="set-text text-center"><i><%= "#{@card.card_set.card_set_id.upcase} (#{@card.number}/#{@card.card_set.printed_total})" %></i></p>
                </div>
            </div>               
        </div>
    </div>
</section>