<!-- large device table -->
<section class="listing-table listing-table--large mb-3">
    <table class="table table-striped m-0">
        <thead class="thead-dark">
            <tr>
                <th scope="col-sm">Seller Name</th>
                <th scope="col-sm">Price</th>
                <th scope="col-sm">Description</th>
                <th scope="col-sm">Condition</th>
                <th scope="col-sm" aria-label="buttons column header"> </th>
            </tr>
        </thead>
        <tbody>
            <% if @listings.present? %>
                <% @listings.each do |listing| %>
                    <tr>
                        <td scope="col-sm">
                            <div class="name-avatar d-flex justify-content-between">
                                <%= "#{listing.user.profile.first_name} #{listing.user.profile.last_name}" %>
                                <%= image_tag listing.user.avatar, style: "margin-left:0.5rem;border-radius:5px;", size: "65x65", alt: "profile-avatar" if listing.user.avatar.attached? %>
                            </div>
                        </td>
                        <td scope="col-sm" style=width:100px;"><%= format_price(listing.price) %></td>
                        <td scope="col-sm"><%= listing.description %></td>
                        <td scope="col-sm" style="width:120px;font-weight:500;"><%= format_condition(listing.condition) %></td>
                        <td scope="col-sm" aria-label="buttons column body" style="width:200px;border-left: 1px solid #dee2e6;">
                            <div class="buttons-container">
                                <%= button_to "Buy", card_path(@card.id), class: "btn btn-primary p-1", style: "min-width:100%;width:80px;" if current_user && current_user.id != listing.user_id %> <!-- TO:DO Redirect to stripe checkout -->
                                <%= button_to "View", listing_path(listing.id), method: :get, class: "btn btn-success p-1", style: "min-width:100%;width:80px;" %> <!-- override default post method -->
                                <% if current_user && current_user.id == listing.user_id %>
                                    <%= button_to "Edit", edit_listing_path(listing_id: listing.id, card_id: @card.id), method: :get, class: "btn btn-warning p-1", style: "min-width:100%;width:80px;" %> <!-- override default post method -->                             
                                <% end %>
                            </div>
                        </td>
                    </tr>
                <% end %>
            <% else %>
            <!-- render in an empty row when no listings for given card -->
                <tr>
                    <td colspan="5">
                        <div class="empty-row"><p class="text-center m-0">Nothing here yet, check back later!</p></div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</section>